* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  scroll-behavior: smooth;
}

.flex {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

/* HERO IMAGE */

.hero {
  background-color: #1e90ff;
  height: 100vh;
  width: 100%;
}

.hero .bcg {
  display: none;
}

.hero .bcg1 {
  display: none;
}

.hero .wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 25vh;
  grid-template-areas: "hello name" "button button";
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.hero .wrapper .hello {
  grid-area: hello;
  width: 100%;
  word-wrap: break-word;
  font-size: 12vh;
  line-height: 15vh;
  padding: 0 20px;
}

.hero .wrapper .name {
  grid-area: name;
  text-align: left;
  margin: auto;
  width: 100%;
  font-size: 70px;
  padding-left: 12vw;
}

.hero .wrapper .button {
  margin-top: 10px;
  grid-area: button;
  text-align: center;
  margin: auto;
  min-width: 100%;
}

.hero .wrapper .button button {
  width: 50%;
  height: 10vh;
  text-align: center;
  padding: 10px 25px;
  font-size: 3vh;
  border: 3px solid black;
  letter-spacing: 3px;
}

.hero .wrapper .button button:hover {
  cursor: pointer;
}

.picture1 {
  position: absolute;
  display: none;
  top: -60vh;
  left: 5vw;
  -o-transform: scale(40%) translate(-100%, -100%);

  -moz-transform: scale(40%) translate(-100%, -100%);

  -ms-transform: scale(40%) translate(-100%, -100%);

  -webkit-transform: scale(40%) translate(-100%, -100%);

  transform: scale(40%) translate(-50%, -50%);
}

/* ABOUT SECTION */

.about {
  background-color: white;
  padding-bottom: 30px;
}

.about .bcg {
  display: none;
}

.about h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 50px;
}

.about p {
  margin-top: 20px;
  padding: 10px 30px;
  text-align: justify;
  font-size: 18px;
}

.about .photo {
  display: none;
}

/* SERVICES SECTION  */

.services {
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
}

.services .servTitle {
  display: none;
}

.services .container {
  padding: 10px 0 20px 0;
}

.services .container h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 38px;
}

.services .container .photo {
  float: left;
  width: 50vw;
  height: 45vh;
  margin-right: 20px;
  background-color: black;
}

.services .reverse .photo {
  float: right;
  margin: 0 0 0 20px;
}

.services .container .photo .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.services .container .one {
  background-image: url(pic/home.jpg);
  background-size: cover;
}

.services .container .two {
  background-image: url(pic/office.jpg);
  background-size: cover;
}

.services .container .three {
  background-image: url(pic/house.jpg);
  background-size: cover;
}

.services .container p {
  padding: 10px 30px;
  text-align: justify;
  font-size: 14px;
  letter-spacing: 1px;
}

/* FOOTER  */

.footer {
  position: relative;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  height: 10vh;
  width: 100%;
}

.footer .ic {
  position: relative;
  text-align: center;
  width: 33%;
  top: 0;
  left: 0;
  font-size: 5vh;
  padding: 10px 0 0 0;
  cursor: pointer;
}

.footer a {
  position: relative;
  text-align: center;
  width: 33%;
  top: 0;
  left: 0;
  font-size: 5vh;
  padding: 4px 0 0 0;
  cursor: pointer;
  transition: 0.5s;
}

.footer .hidd {
  margin: 5px;
  padding: 0;
  font-size: 3vh;
  position: absolute;
  cursor: pointer;
  bottom: 4vh;
  left: -80vw;
  transition: 0.5s;
}

.footer .showContent {
  left: 4vw;
}

.footer .rights {
  flex-grow: 1;
  text-align: center;
}

.fa-chevron-left {
  margin: 0;
  padding: 0;
  font-size: 5vh;
  position: absolute;
  cursor: pointer;
  bottom: 4vh;
  left: -10vw;
  transform: rotate(-180deg);
}

.footer .hidden {
  left: -100vw;
}

.showPhone {
  left: 42vw;
  transform: rotate(0);
}

.showMail {
  left: 75vw;
  transform: rotate(0);
}

.fas,
.fab {
  transition: 0.5s;
}

@media (orientation: landscape) {
  .hero .wrapper {
    grid-template-areas: "hello name" "hello button";
  }

  .hero .wrapper .hello {
    font-size: 19vh;
    line-height: 20vh;
    padding: 0 40px;
  }
  .hero .wrapper .name {
    text-align: center;
    font-size: 90px;
  }

  .hero .wrapper .button button {
    width: 35%;
    height: 15vh;
    font-size: 18px;
  }
}

@media (orientation: landscape) and (max-width: 1023px) {
  .services .container .one {
    background-image: url(pic/home2.jpg);
  }

  .services .container .two {
    background-image: url(pic/office.jpg);
    background-size: cover;
  }

  .services .container .three {
    background-image: url(pic/house2.jpg);
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .hero {
    background-color: white;
    overflow: hidden;
  }

  .hero .bcg {
    position: relative;
    display: block;
    background-color: #1e90ff;
    width: 50vw;
    height: 200vh;
    transform: rotate(-33deg);
    right: -50vw;
    top: -50vh;
  }

  .hero .bcg1 {
    position: absolute;
    display: block;
    background-color: #1e90ff;
    width: 42.6vw;
    height: 100%;
    right: 0;
    top: 39vh;
  }

  .hero .wrapper {
    position: absolute;
    display: block;
    z-index: 1;
  }

  .hero .wrapper .hello {
    position: relative;
    top: 20vh;
    left: 45vw;
  }

  .hero .wrapper .name {
    position: relative;
    top: 20vh;
    left: 20vw;
  }

  .hero .wrapper .name p {
    display: inline-block;
  }

  .hero .wrapper .button {
    position: relative;
    top: 30vh;
    left: 30vw;
  }

  .hero .wrapper .button button {
    width: 30%;
    height: 10vh;
    padding: 10px 30px;
    font-size: 5vh;
  }

  .about {
    width: 100%;
    height: 80vh;
    position: relative;
  }

  .about .wrap {
    position: relative;
    top: 0;
    left: 10vw;
    width: 30%;
  }

  .about h1 {
    font-size: 90px;
  }

  .about p {
    font-size: 24px;
  }

  .about .photo {
    display: block;
    position: absolute;

    -o-transform: scale(40%) translate(-100%, -100%);

    -moz-transform: scale(40%) translate(-100%, -100%);

    -ms-transform: scale(40%) translate(-100%, -100%);

    -webkit-transform: scale(40%) translate(-100%, -100%);
    transform: scale(40%) translate(-100%, -100%);
    top: 28%;
    left: 60%;
    z-index: 1;
  }

  .about .bcg {
    position: absolute;
    display: block;
    background-color: #1e90ff;
    width: 42.6vw;
    height: 100%;
    right: 0;
    top: 0;
  }

  .services {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .services .container .one:hover,
  .services .container .two:hover,
  .services .container .three:hover {
    cursor: pointer;
  }
  .services .container p:hover {
    cursor: pointer;
  }
  .circleOutside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
  }
  .circleOutside .circleInside {
    position: relative;
    height: 10vw;
    width: 10vw;
    background: rgba(255, 255, 255, 0);
    border-radius: 100%;
  }
  .circleOutside .circleInside:before,
  .circleOutside .circleInside:after {
    border: 1px solid #d1e7da;
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    transform-origin: center center;
    opacity: 0;
    box-sizing: border-box;
  }
  .circleOutside .circleInside:before {
    animation: 2s 0.1s pulse2 infinite linear;
  }
  .circleOutside .circleInside::after {
    animation: 2s pulse infinite linear;
  }
  @keyframes pulse {
    0% {
      transform: scale(2);
      opacity: 0.2;
    }
    25% {
      transform: scale(2.3);
      opacity: 0;
    }
    100% {
      transform: scale(2.3);
      opacity: 0;
    }
  }
  @keyframes pulse2 {
    0% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    25% {
      transform: scale(1.8);
      opacity: 0;
    }
    100% {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  .services .servTitle {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 70px;
  }

  .services .container {
    flex-grow: 1;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .services .container h1 {
    margin: 30px 0;
    font-size: 3.5vh;
  }

  .services .container .photo {
    width: 80%;
    height: 70vh;
    text-align: center;
    margin: 10px;
  }

  .services .reverse .photo {
    margin: 10px;
  }

  .services .container p {
    display: none;
  }

  .services .container p {
    display: none;
  }

  .footer {
    background-color: #1e90ff;
    flex-wrap: nowrap;
  }

  .footer .ic {
    width: 6%;
    line-height: 8vh;
  }

  .footer a {
    width: 6%;
    line-height: 8vh;
    padding: 10px 0 0 0;
  }

  .footer .hidd {
    font-size: 5vh;
    bottom: 0;
    line-height: 10vh;
  }

  .footer .rights {
    flex-grow: 1;
    margin: 0 2vw 0 0;
    line-height: 10vh;
    text-align: right;
  }

  .fa-chevron-left {
    font-size: 5vh;
    bottom: 3.1vh;
  }

  .showPhone {
    left: 19vw;
    transform: rotate(0);
  }

  .showMail {
    left: 33vw;
    transform: rotate(0);
  }
  .picture1 {
    display: block;
  }
}

@media (width: 1024px) and (height: 720px) {
  .about .bcg {
    width: 32vw;
  }
  .hero .bcg1 {
    width: 32vw;
  }
  .picture1 {
    left: -20vw;
    top: -72vh;
  }

  .about h1 {
    font-size: 60px;
  }
  .about p {
    font-size: 18px;
  }

  .about .photo {
    -o-transform: scale(30%) translate(-100%, -100%);

    -moz-transform: scale(30%) translate(-100%, -100%);

    -ms-transform: scale(30%) translate(-100%, -100%);

    -webkit-transform: scale(30%) translate(-100%, -100%);
    transform: scale(30%) translate(-100%, -100%);
    top: -5%;
    left: 48%;
  }
}

@media (width: 1366px) and (height: 768px) {
  .about .bcg {
    width: 36.5vw;
  }
  .hero .bcg1 {
    width: 36.5vw;
  }
  .picture1 {
    left: -7vw;
    top: -72vh;
  }
  .about h1 {
    font-size: 60px;
  }
  .about p {
    font-size: 18px;
  }

  .about .photo {
    -o-transform: scale(30%) translate(-100%, -100%);

    -moz-transform: scale(30%) translate(-100%, -100%);

    -ms-transform: scale(30%) translate(-100%, -100%);

    -webkit-transform: scale(30%) translate(-100%, -100%);
    transform: scale(30%) translate(-100%, -100%);
    top: -5%;
    left: 48%;
  }
}

@media (width: 1440px) and (height: 900px) {
  .about .bcg {
    width: 34.5vw;
  }
  .hero .bcg1 {
    width: 34.5vw;
  }
  .picture1 {
    left: -3vw;
  }
}

@media (width: 1920px) {
  .about .bcg {
    width: 38vw;
  }

  .hero .bcg1 {
    width: 38vw;
  }
}

/* SERVICES EFFECT */

.services .container {
  position: relative;
}

.services .container .dark {
  opacity: 0.2;
}

.services .container .light {
  position: absolute;
  display: block;
  width: 20vw;
  padding: 10px 30px;
  text-align: justify;
  font-size: 16px;
  letter-spacing: 1px;
}
